In [1]:
import pandas as pd
from route_generation import *

In [2]:
Demands = pd.read_table('store_demand.txt', delimiter = ',')

Demands.head()

         Brand         Location  Weekdays  Saturday
0  Four Square         Alberton         3         1
1  Four Square  Botany Junction         2         0
2  Four Square       Cockle Bay         2         1
3  Four Square        Ellerslie         2         1
4  Four Square        Everglade         2         1

In [3]:
Demands = Demands.assign(Supermarket = Demands.Brand + " " + Demands.Location)
Demands.head()

,Brand,Location,Weekdays,Saturday,Supermarket
0,Four Square,Alberton,3,1,Four Square Alberton
1,Four Square,Botany Junction,2,0,Four Square Botany Junction
2,Four Square,Cockle Bay,2,1,Four Square Cockle Bay
3,Four Square,Ellerslie,2,1,Four Square Ellerslie
4,Four Square,Everglade,2,1,Four Square Everglade

In [11]:
Durations = pd.read_csv("TravelCosts.csv")
Durations.head()

               From                    To  Distance   Duration
0  New World Albany      New World Albany   0.00000   0.000000
1  New World Albany  New World Birkenhead  15.70707  23.833833
2  New World Albany      New World Botany  35.83163  49.946667
3  New World Albany  New World Browns Bay   5.00226  10.337833
4  New World Albany   New World Devonport  17.81659  29.654833

In [5]:
nodes = Demands.Supermarket.values.tolist()

saturday_routes = generate_routes(nodes, Demands, Durations, weekday=False)
print(len(saturday_routes))

298

In [6]:
weekday_routes = generate_routes(nodes, Demands, Durations)
print(len(weekday_routes))

172

In [7]:
saturday_routes = remove_duplicate_routes(saturday_routes)
weekday_routes = remove_duplicate_routes(weekday_routes)

print(len(saturday_routes))
print(len(weekday_routes))

200
129

In [8]:
with open("saturday_routes.txt", "w") as f:
    for route in saturday_routes:
        f.write(",".join(route))
        f.write("\n")

with open("weekday_routes.txt", "w") as f:
    for route in weekday_routes:
        f.write(",".join(route))
        f.write("\n")

In [9]:
import random

print(random.sample(saturday_routes, 10))
print(random.sample(weekday_routes, 10))

[['Warehouse', 'New World Southmall', 'Warehouse'], ['Warehouse', 'New World Papatoetoe', "Pak 'n Save Manukau", 'Four Square Botany Junction', 'Four Square Everglade', 'New World Southmall', "Pak 'n Save Clendon", 'Warehouse'], ['Warehouse', 'Four Square Alberton', "Pak 'n Save Mt Albert", 'New World Mt Roskill', "Pak 'n Save Royal Oak", 'Four Square Ellerslie', 'New World Remuera', 'Warehouse'], ['Warehouse', 'Four Square Lancaster', 'New World Birkenhead', 'Warehouse'], ['Warehouse', 'Four Square Ellerslie', "Pak 'n Save Sylvia Park", 'New World Stonefields', 'New World Remuera', "Pak 'n Save Royal Oak", 'New World Mt Roskill', 'Warehouse'], ['Warehouse', "Pak 'n Save Mangere", 'New World Mt Roskill', 'Four Square Alberton', "Pak 'n Save Mt Albert", 'New World New Lynn', 'New World Green Bay', 'Warehouse'], ['Warehouse', 'Four Square Botany Junction', 'New World Ormiston', "Pak 'n Save Ormiston", 'Four Square Everglade', "Pak 'n Save Manukau", 'New World Papatoetoe', 'Warehouse'], ['Warehouse', 'New World Birkenhead', 'Warehouse'], ['Warehouse', 'Four Square Glen Eden', 'New World New Lynn', "Pak 'n Save Mt Albert", 'Four Square Alberton', 'Warehouse'], ['Warehouse', 'Four Square Glen Eden', 'Warehouse']]
[['Warehouse', 'New World Devonport', 'Warehouse'], ['Warehouse', 'New World Devonport', 'New World Metro Shore City', 'Warehouse'], ['Warehouse', "Pak 'n Save Sylvia Park", 'Warehouse'], ['Warehouse', 'Four Square Hobsonville', "Pak 'n Save Westgate", "Pak 'n Save Lincoln Road", 'Warehouse'], ['Warehouse', 'New World Southmall', 'Four Square Everglade', "Pak 'n Save Manukau", 'Warehouse'], ['Warehouse', 'New World New Lynn', 'Warehouse'], ['Warehouse', 'Four Square Glen Eden', 'New World New Lynn', 'Warehouse'], ['Warehouse', "Pak 'n Save Clendon", 'New World Southmall', 'Warehouse'], ['Warehouse', 'Four Square Everglade', "Pak 'n Save Manukau", 'New World Papatoetoe', 'Warehouse'], ['Warehouse', 'New World Howick', 'Warehouse']]