In [1]:
import pandas as pd
from route_generation import *

In [2]:
west = read_nodes("west.txt")
east = read_nodes("east.txt")
south = read_nodes("south.txt")
north = read_nodes("north.txt")

In [3]:
Demands = pd.read_table('store_demand.txt', delimiter = ',')

Demands.head()

         Brand         Location  Weekdays  Saturday
0  Four Square         Alberton         3         1
1  Four Square  Botany Junction         2         0
2  Four Square       Cockle Bay         2         1
3  Four Square        Ellerslie         2         1
4  Four Square        Everglade         2         1

In [4]:
Demands = Demands.assign(Supermarket = Demands.Brand + " " + Demands.Location)
Demands.head()

,Brand,Location,Weekdays,Saturday,Supermarket
0,Four Square,Alberton,3,1,Four Square Alberton
1,Four Square,Botany Junction,2,0,Four Square Botany Junction
2,Four Square,Cockle Bay,2,1,Four Square Cockle Bay
3,Four Square,Ellerslie,2,1,Four Square Ellerslie
4,Four Square,Everglade,2,1,Four Square Everglade

In [5]:
Durations = pd.read_csv("TravelCosts.csv")
Durations.head()

               From                    To  Distance   Duration
0  New World Albany      New World Albany   0.00000   0.000000
1  New World Albany  New World Birkenhead  15.70707  23.833833
2  New World Albany      New World Botany  35.83163  49.946667
3  New World Albany  New World Browns Bay   5.00226  10.337833
4  New World Albany   New World Devonport  17.81659  29.654833

In [6]:
regions = [west, north, south, east]
dropouts=[0,0.2,0.5,0.8]

In [7]:
saturday_routes = aggregate_routes(regions, Demands, Durations, weekday=False, dropouts=dropouts)
print(len(saturday_routes))

523

In [8]:
write_routes(saturday_routes, "saturday_routes.txt")

In [7]:
weekday_routes = aggregate_routes(regions, Demands, Durations, dropouts=dropouts)
print(len(weekday_routes))

243

In [8]:
write_routes(weekday_routes, "weekday_routes.txt")

In [11]:
import random

def route_printing(routes):
    for route in routes:
        print("Route: " + " > ".join(route[0]))
        print("Cost: " + str(route[1]))
        print("")

print("Sample of Saturday Routes")
print("-------------------------")
route_printing(random.sample(saturday_routes, 4))

print("Sample of Weekday Routes")
print("------------------------")
route_printing(random.sample(weekday_routes, 4))

Sample of Saturday Routes
-------------------------
Route: Warehouse > Pak 'n Save Clendon > Pak 'n Save Papakura > Warehouse
Cost: 210.11624999999998

Route: Warehouse > Four Square Fair Price Henderson > Warehouse
Cost: 119.63625

Route: Warehouse > Pak 'n Save Botany > New World Botany > Warehouse
Cost: 205.30375000000006

Route: Warehouse > New World Remuera > New World Stonefields > Four Square Ellerslie > Pak 'n Save Sylvia Park > Four Square Pakuranga Heights > New World Botany > Warehouse
Cost: 303.8504166666668

Sample of Weekday Routes
------------------------
Route: Warehouse > Pak 'n Save Royal Oak > Four Square Ellerslie > Warehouse
Cost: 114.28041666666658

Route: Warehouse > New World Mt Roskill > Pak 'n Save Mangere > Warehouse
Cost: 109.76166666666681

Route: Warehouse > New World Remuera > New World Mt Roskill > Warehouse
Cost: 122.88875000000002

Route: Warehouse > New World Papakura > Warehouse
Cost: 189.43166666666679