In [1]:
import pandas as pd
from route_generation import *

In [2]:
Demands = pd.read_table('store_demand.txt', delimiter = ',')

Demands.head()

         Brand         Location  Weekdays  Saturday
0  Four Square         Alberton         3         1
1  Four Square  Botany Junction         2         0
2  Four Square       Cockle Bay         2         1
3  Four Square        Ellerslie         2         1
4  Four Square        Everglade         2         1

In [3]:
Demands = Demands.assign(Supermarket = Demands.Brand + " " + Demands.Location)
Demands.head()

,Brand,Location,Weekdays,Saturday,Supermarket
0,Four Square,Alberton,3,1,Four Square Alberton
1,Four Square,Botany Junction,2,0,Four Square Botany Junction
2,Four Square,Cockle Bay,2,1,Four Square Cockle Bay
3,Four Square,Ellerslie,2,1,Four Square Ellerslie
4,Four Square,Everglade,2,1,Four Square Everglade

In [4]:
Durations = pd.read_csv("TravelCosts.csv")
Durations.head()

               From                    To  Distance   Duration
0  New World Albany      New World Albany   0.00000   0.000000
1  New World Albany  New World Birkenhead  15.70707  23.833833
2  New World Albany      New World Botany  35.83163  49.946667
3  New World Albany  New World Browns Bay   5.00226  10.337833
4  New World Albany   New World Devonport  17.81659  29.654833

In [5]:
nodes = Demands.Supermarket.values.tolist()

In [6]:
saturday_routes1 = generate_routes(nodes, Demands, Durations, weekday=False)
print(len(saturday_routes1))

saturday_routes2 = generate_routes(nodes, Demands, Durations, weekday=False, dropout=0.2)
print(len(saturday_routes2))

saturday_routes3 = generate_routes(nodes, Demands, Durations, weekday=False, dropout=0.5)
print(len(saturday_routes3))

saturday_routes4 = generate_routes(nodes, Demands, Durations, weekday=False, dropout=0.8)
print(len(saturday_routes4))

298
302
294
311

In [7]:
saturday_routes = remove_duplicate_routes(saturday_routes1 + saturday_routes2 + saturday_routes3 + saturday_routes4)
print(len(saturday_routes))

513

In [8]:
write_routes(saturday_routes, "saturday_routes.txt")

In [9]:
weekday_routes1 = generate_routes(nodes, Demands, Durations)
print(len(weekday_routes1))

weekday_routes2 = generate_routes(nodes, Demands, Durations, dropout=0.2)
print(len(weekday_routes2))

weekday_routes3 = generate_routes(nodes, Demands, Durations, dropout=0.5)
print(len(weekday_routes3))

weekday_routes4 = generate_routes(nodes, Demands, Durations, dropout=0.8)
print(len(weekday_routes4))

172
172
175
173

In [10]:
weekday_routes = remove_duplicate_routes(weekday_routes1 + weekday_routes2 + weekday_routes3 + weekday_routes4)
print(len(weekday_routes))

290

In [11]:
write_routes(weekday_routes, "weekday_routes.txt")

In [12]:
import random

print(random.sample(saturday_routes, 10))
print(random.sample(weekday_routes, 10))

[(['Warehouse', 'Four Square Fair Price Henderson', "Pak 'n Save Henderson", 'Four Square Glen Eden', 'Four Square Alberton', 'New World Mt Roskill', 'Warehouse'], 222.21958333333325), (['Warehouse', 'Four Square Botany Junction', 'Four Square Everglade', 'New World Papatoetoe', "Pak 'n Save Sylvia Park", "Pak 'n Save Manukau", 'New World Southmall', "Pak 'n Save Clendon", 'Warehouse'], 370.82541666666685), (['Warehouse', "Pak 'n Save Mangere", "Pak 'n Save Manukau", 'Four Square Everglade', 'New World Southmall', 'New World Papatoetoe', 'Warehouse'], 254.69625000000022), (['Warehouse', 'Four Square Alberton', 'New World Victoria Park', 'New World Metro Queen St', 'Warehouse'], 147.20958333333326), (['Warehouse', "Pak 'n Save Henderson", 'Four Square Glen Eden', 'Warehouse'], 153.43083333333325), (['Warehouse', 'New World Birkenhead', 'New World Metro Queen St', 'New World Victoria Park', 'Four Square Alberton', 'New World Mt Roskill', 'Warehouse'], 237.79541666666677), (['Warehouse', 'Four Square Lancaster', 'New World Birkenhead', "Pak 'n Save Wairau Road", 'New World Metro Shore City', 'Four Square Alberton', "Pak 'n Save Mt Albert", 'Warehouse'], 305.3679166666665), (['Warehouse', 'New World Metro Shore City', 'New World Albany', "Pak 'n Save Albany", 'Warehouse'], 240.20624999999973), (['Warehouse', 'Four Square Lancaster', 'New World Birkenhead', "Pak 'n Save Wairau Road", 'New World Milford', 'New World Metro Queen St', 'Four Square Alberton', 'Warehouse'], 324.7908333333332), (['Warehouse', 'New World Howick', 'Warehouse'], 207.065)]
[(['Warehouse', 'Four Square Alberton', 'New World Metro Queen St', "Pak 'n Save Albany", 'Warehouse'], 243.68624999999994), (['Warehouse', 'Four Square St Heliers', "Pak 'n Save Glen Innes", 'Warehouse'], 198.1749999999999), (['Warehouse', 'Four Square Lancaster', 'Warehouse'], 181.72874999999996), (['Warehouse', 'New World Green Bay', 'New World New Lynn', 'Four Square Alberton', 'New World Mt Roskill', 'Warehouse'], 151.40375000000014), (['Warehouse', 'New World Milford', 'New World Victoria Park', 'New World Metro Queen St', 'Warehouse'], 207.57541666666654), (['Warehouse', "Pak 'n Save Sylvia Park", 'New World Stonefields', 'Four Square Ellerslie', "Pak 'n Save Royal Oak", 'Warehouse'], 186.35250000000008), (['Warehouse', 'Four Square Alberton', "Pak 'n Save Mt Albert", "Pak 'n Save Royal Oak", 'Four Square Ellerslie', 'Warehouse'], 175.95166666666674), (['Warehouse', "Pak 'n Save Wairau Road", 'New World Metro Shore City', 'Warehouse'], 188.65083333333334), (['Warehouse', 'Four Square Alberton', 'Four Square Glen Eden', 'New World New Lynn', 'Warehouse'], 161.24958333333336), (['Warehouse', "Pak 'n Save Royal Oak", 'Four Square Ellerslie', 'Warehouse'], 114.28041666666658)]