In [11]:
import pandas as pd
from route_generation import *

In [12]:
Demands = pd.read_table('store_demand.txt', delimiter = ',')

Demands.head()

         Brand         Location  Weekdays  Saturday
0  Four Square         Alberton         3         1
1  Four Square  Botany Junction         2         0
2  Four Square       Cockle Bay         2         1
3  Four Square        Ellerslie         2         1
4  Four Square        Everglade         2         1

In [13]:
Demands = Demands.assign(Supermarket = Demands.Brand + " " + Demands.Location)
Demands.head()

,Brand,Location,Weekdays,Saturday,Supermarket
0,Four Square,Alberton,3,1,Four Square Alberton
1,Four Square,Botany Junction,2,0,Four Square Botany Junction
2,Four Square,Cockle Bay,2,1,Four Square Cockle Bay
3,Four Square,Ellerslie,2,1,Four Square Ellerslie
4,Four Square,Everglade,2,1,Four Square Everglade

In [14]:
Durations = pd.read_csv("TravelCosts.csv")
Durations.head()

               From                    To  Distance   Duration
0  New World Albany      New World Albany   0.00000   0.000000
1  New World Albany  New World Birkenhead  15.70707  23.833833
2  New World Albany      New World Botany  35.83163  49.946667
3  New World Albany  New World Browns Bay   5.00226  10.337833
4  New World Albany   New World Devonport  17.81659  29.654833

In [15]:
nodes = Demands.Supermarket.values.tolist()

saturday_routes = generate_routes(nodes, Demands, Durations, weekday=False)
print(len(saturday_routes))

298

In [16]:
weekday_routes = generate_routes(nodes, Demands, Durations)
print(len(weekday_routes))

172

In [17]:
saturday_routes = remove_duplicate_routes(saturday_routes)
weekday_routes = remove_duplicate_routes(weekday_routes)

print(len(saturday_routes))
print(len(weekday_routes))

200
129

In [18]:
with open("saturday_routes.txt", "w") as f:
    for route in saturday_routes:
        f.write(",".join(route[0]))
        f.write(":")
        f.write(str(route[1]))
        f.write("\n")

with open("weekday_routes.txt", "w") as f:
    for route in weekday_routes:
        f.write(",".join(route[0]))
        f.write(":")
        f.write(str(route[1]))
        f.write("\n")

In [19]:
import random

print(random.sample(saturday_routes, 10))
print(random.sample(weekday_routes, 10))

[(['Warehouse', 'Four Square Fair Price Henderson', "Pak 'n Save Lincoln Road", "Pak 'n Save Henderson", 'Four Square Glen Eden', 'New World New Lynn', "Pak 'n Save Mt Albert", 'Warehouse'], 234.11999999999986), (['Warehouse', "Pak 'n Save Sylvia Park", 'Four Square Ellerslie', 'Warehouse'], 143.2912500000001), (['Warehouse', 'New World Metro Queen St', 'New World Victoria Park', 'Four Square Alberton', 'Warehouse'], 149.66499999999994), (['Warehouse', 'New World Howick', 'Four Square Cockle Bay', "Pak 'n Save Botany", 'New World Botany', 'Four Square Botany Junction', 'New World Ormiston', 'Warehouse'], 302.4925000000002), (['Warehouse', 'Four Square Torbay', 'New World Long Bay', 'Warehouse'], 246.77583333333322), (['Warehouse', 'New World Papatoetoe', "Pak 'n Save Manukau", 'Four Square Botany Junction', 'Four Square Everglade', 'New World Southmall', "Pak 'n Save Clendon", 'Warehouse'], 268.6758333333333), (['Warehouse', 'Four Square Cockle Bay', 'Warehouse'], 229.52958333333328), (['Warehouse', 'Four Square Everglade', "Pak 'n Save Manukau", 'New World Papatoetoe', 'Warehouse'], 178.02333333333337), (['Warehouse', 'Four Square Glen Eden', 'New World New Lynn', "Pak 'n Save Mt Albert", 'Warehouse'], 142.14458333333334), (['Warehouse', 'New World Howick', 'Four Square Cockle Bay', "Pak 'n Save Botany", 'New World Botany', 'Warehouse'], 265.6162500000002)]
[(['Warehouse', "Pak 'n Save Clendon", 'New World Southmall', 'Warehouse'], 175.91083333333341), (['Warehouse', "Pak 'n Save Clendon", 'New World Southmall', 'Four Square Everglade', "Pak 'n Save Manukau", 'Warehouse'], 218.90833333333342), (['Warehouse', "Pak 'n Save Sylvia Park", 'Warehouse'], 145.13416666666674), (['Warehouse', 'Four Square Everglade', "Pak 'n Save Manukau", 'Warehouse'], 159.16916666666665), (['Warehouse', 'New World Metro Shore City', 'Warehouse'], 150.7866666666665), (['Warehouse', 'Four Square St Heliers', "Pak 'n Save Glen Innes", 'New World Eastridge', 'Warehouse'], 225.3137500000001), (['Warehouse', 'Four Square Torbay', 'New World Long Bay', 'Warehouse'], 246.77583333333322), (['Warehouse', 'Four Square Hobsonville', 'Warehouse'], 137.95375), (['Warehouse', 'New World Metro Shore City', 'New World Milford', 'Warehouse'], 183.27124999999998), (['Warehouse', "Pak 'n Save Clendon", 'New World Southmall', 'Four Square Everglade', 'Warehouse'], 197.11791666666673)]