In [1]:
import pandas as pd
from route_generation import *

In [2]:
regions = read_regions("regions.csv")

In [3]:
Demands = pd.read_table('store_demand.txt', delimiter = ',')

Demands.head()

         Brand                  Supermarket  Weekdays  Saturday
0  Four Square         Four Square Alberton         3         1
1  Four Square  Four Square Botany Junction         2         0
2  Four Square       Four Square Cockle Bay         2         1
3  Four Square        Four Square Ellerslie         2         1
4  Four Square        Four Square Everglade         2         1

In [4]:
# Demands = Demands.assign(Supermarket = Demands.Brand + " " + Demands.Location)
# Demands.head()

In [5]:
Durations = pd.read_csv("TravelCosts.csv")
Durations.head()

               From                    To  Distance   Duration
0  New World Albany      New World Albany   0.00000   0.000000
1  New World Albany  New World Birkenhead  15.70707  23.833833
2  New World Albany      New World Botany  35.83163  49.946667
3  New World Albany  New World Browns Bay   5.00226  10.337833
4  New World Albany   New World Devonport  17.81659  29.654833

In [6]:
dropouts=[0,0.3,0.6]

In [7]:
saturday_routes = aggregate_routes(regions, Demands, Durations, weekday=False, dropouts=dropouts)
print(len(saturday_routes))

390

In [8]:
weekday_routes = aggregate_routes(regions, Demands, Durations, dropouts=dropouts)
print(len(weekday_routes))

216

In [9]:
import random

def route_printing(routes):
    for route in routes:
        print(f"Route: {' > '.join(route[0])}\nCost: {route[1]}\n")

print("Sample of Saturday Routes")
print("-------------------------")
route_printing(random.sample(saturday_routes, 4))

print("Sample of Weekday Routes")
print("------------------------")
route_printing(random.sample(weekday_routes, 4))

Sample of Saturday Routes
-------------------------
Route: Warehouse > New World Metro Shore City > Warehouse
Cost: 150.7866666666665

Route: Warehouse > New World Long Bay > Four Square Torbay > New World Browns Bay > New World Albany > Warehouse
Cost: 287.79374999999993

Route: Warehouse > Four Square Botany Junction > New World Ormiston > Pak 'n Save Ormiston > Pak 'n Save Manukau > New World Papatoetoe > Warehouse
Cost: 233.9683333333334

Route: Warehouse > Four Square Fair Price Henderson > Pak 'n Save Henderson > Warehouse
Cost: 144.8083333333332

Sample of Weekday Routes
------------------------
Route: Warehouse > Four Square Torbay > Warehouse
Cost: 232.415

Route: Warehouse > Four Square Botany Junction > New World Papatoetoe > Pak 'n Save Mangere > Warehouse
Cost: 209.2445833333335

Route: Warehouse > Four Square Torbay > New World Browns Bay > New World Albany > Four Square Lancaster > Warehouse
Cost: 332.77249999999987

Route: Warehouse > New World Devonport > New World Milford > Four Square Torbay > Four Square Lancaster > Warehouse
Cost: 415.7970833333332

In [10]:
saturday_routes = convert_routes_to_dataframe(saturday_routes)
weekday_routes = convert_routes_to_dataframe(weekday_routes)

In [11]:
saturday_routes.to_csv("saturday_routes.csv", index=False)
weekday_routes.to_csv("weekday_routes.csv", index=False)