In [1]:
import pandas as pd
import random

from route_generation import *

In [2]:
regions = read_regions("Regions.csv")

In [3]:
demands = pd.read_csv("../demand-estimation/output/DemandEstimates.csv")
demands.head()

                   Supermarket         Type  Saturday  Weekdays
0         Four Square Alberton  Four Square         1         3
1  Four Square Botany Junction  Four Square         0         2
2       Four Square Cockle Bay  Four Square         1         3
3        Four Square Ellerslie  Four Square         1         3
4        Four Square Everglade  Four Square         1         2

In [4]:
durations = pd.read_csv("output/TravelCosts.csv")
durations.head()

               From                    To  Distance   Duration
0  New World Albany      New World Albany   0.00000   0.000000
1  New World Albany  New World Birkenhead  15.70707  23.833833
2  New World Albany      New World Botany  35.83163  49.946667
3  New World Albany  New World Browns Bay   5.00226  10.337833
4  New World Albany   New World Devonport  17.81659  29.654833

In [7]:
dropouts=[0,0.25,0.5,0.75]
localisations=[0,0.2,0.4,0.6]

In [8]:
saturday_routes = aggregate_routes(regions, demands, durations, weekday=False, dropouts=dropouts, localisations=localisations)
print(len(saturday_routes))

1255

In [10]:
weekday_routes = aggregate_routes(regions, demands, durations, dropouts=dropouts, localisations=localisations)
print(len(weekday_routes))

440

In [11]:
def route_printing(routes):
    for route in routes:
        print(f"Route: {' > '.join(route[0])}\nCost: {route[1]}\n")

print("Sample of Saturday Routes")
print("-------------------------")
route_printing(random.sample(saturday_routes, 4))

print("Sample of Weekday Routes")
print("------------------------")
route_printing(random.sample(weekday_routes, 4))

Sample of Saturday Routes
-------------------------
Route: Warehouse > Pak 'n Save Sylvia Park > New World Stonefields > Warehouse
Cost: 174.39500000000015

Route: Warehouse > New World Devonport > New World Metro Shore City > New World Milford > Pak 'n Save Wairau Road > New World Metro Queen St > Warehouse
Cost: 311.60791666666665

Route: Warehouse > New World Green Bay > Four Square Glen Eden > New World New Lynn > Pak 'n Save Mt Albert > New World Metro Queen St > Four Square Alberton > New World Mt Roskill > Warehouse
Cost: 272.8370833333335

Route: Warehouse > Four Square Botany Junction > Pak 'n Save Glen Innes > Four Square St Heliers > New World Stonefields > Four Square Ellerslie > Pak 'n Save Royal Oak > New World Mt Roskill > Warehouse
Cost: 348.6037500000002

Sample of Weekday Routes
------------------------
Route: Warehouse > Four Square St Heliers > Pak 'n Save Glen Innes > New World Metro Queen St > Warehouse
Cost: 235.95583333333315

Route: Warehouse > New World Remuera > Pak 'n Save Royal Oak > Warehouse
Cost: 122.11124999999998

Route: Warehouse > New World Browns Bay > Pak 'n Save Wairau Road > Four Square Lancaster > Warehouse
Cost: 302.44874999999996

Route: Warehouse > New World Ormiston > Four Square Ellerslie > New World Howick > Warehouse
Cost: 332.9441666666665

In [12]:
saturday_routes_df = convert_routes_to_dataframe(saturday_routes)
weekday_routes_df = convert_routes_to_dataframe(weekday_routes)

In [13]:
saturday_routes_df.to_csv("output/SaturdayRoutes.csv", index=False)
weekday_routes_df.to_csv("output/WeekdayRoutes.csv", index=False)