In [1]:
import pandas as pd
import random

from route_generation import *

In [2]:
regions = read_regions("Regions.csv")

In [3]:
demands = pd \
    .read_csv("../demand-estimation/output/DemandEstimates.csv") \
    .set_index("Supermarket")
demands.head()

                                    Type  Saturday  Weekdays
Supermarket
Four Square Alberton         Four Square         1         3
Four Square Botany Junction  Four Square         0         2
Four Square Cockle Bay       Four Square         1         3
Four Square Ellerslie        Four Square         1         3
Four Square Everglade        Four Square         1         2

In [4]:
durations = pd \
    .read_csv("output/TravelCosts.csv") \
    .set_index(['From', 'To'])
durations.head()

                                       Distance   Duration
From             To
New World Albany New World Albany       0.00000   0.000000
                 New World Birkenhead  15.70707  23.833833
                 New World Botany      35.83163  49.946667
                 New World Browns Bay   5.00226  10.337833
                 New World Devonport   17.81659  29.654833

In [5]:
dropouts=[0,0.1,0.2,0.3,0.4,0.5]
warehouse_weights=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

In [6]:
saturday_routes = aggregate_routes(
    regions, 
    demands, 
    durations, 
    weekday=False, 
    dropouts=dropouts, 
    warehouse_weights=warehouse_weights
)
print(len(saturday_routes))

2457

In [7]:
weekday_routes = aggregate_routes(
    regions, 
    demands, 
    durations, 
    dropouts=dropouts, 
    warehouse_weights=warehouse_weights
)
print(len(weekday_routes))

618

In [8]:
def route_printing(routes, indices):
    for i in indices:
        print(f"Route: {' > '.join(routes.Route[i])}\nCost: {routes.Cost[i]}\n")

print("Sample of Saturday Routes")
print("-------------------------")
route_printing(saturday_routes, random.sample(sorted(saturday_routes.index), 4))

print("Sample of Weekday Routes")
print("------------------------")
route_printing(weekday_routes, random.sample(sorted(weekday_routes.index), 4))

Sample of Saturday Routes
-------------------------
Route: Warehouse > New World Birkenhead > Four Square Lancaster > New World Victoria Park > New World Metro Queen St > Four Square Alberton > Pak 'n Save Mt Albert > Warehouse
Cost: 321.6839999999999

Route: Warehouse > Pak 'n Save Mt Albert > Four Square Alberton > Four Square Ellerslie > Pak 'n Save Royal Oak > New World Mt Roskill > Warehouse
Cost: 213.61649999999997

Route: Warehouse > New World Birkenhead > Four Square Lancaster > Pak 'n Save Wairau Road > New World Metro Shore City > Warehouse
Cost: 293.13499999999965

Route: Warehouse > Four Square Glen Eden > New World Green Bay > New World New Lynn > Four Square Alberton > New World Victoria Park > Warehouse
Cost: 293.6705000000002

Sample of Weekday Routes
------------------------
Route: Warehouse > Four Square Hobsonville > Four Square Fair Price Henderson > Warehouse
Cost: 248.8486666666665

Route: Warehouse > Four Square Glen Eden > Four Square St Heliers > Four Square Ellerslie > Pak 'n Save Royal Oak > Warehouse
Cost: 388.0306666666664

Route: Warehouse > New World Albany > New World Browns Bay > Warehouse
Cost: 327.8710833333331

Route: Warehouse > New World Mt Roskill > New World Papatoetoe > Four Square Everglade > Warehouse
Cost: 243.70358333333354

In [9]:
saturday_routes.to_csv("output/SaturdayRoutes.csv", index=False)
weekday_routes.to_csv("output/WeekdayRoutes.csv", index=False)