In [1]:
import pandas as pd
import random

from route_generation import *

In [2]:
regions = read_regions("Regions.csv")

In [3]:
demands = pd.read_csv("../demand-estimation/output/DemandEstimates.csv").set_index("Supermarket")
demands.head()

                                    Type  Saturday  Weekdays
Supermarket
Four Square Alberton         Four Square         1         3
Four Square Botany Junction  Four Square         0         2
Four Square Cockle Bay       Four Square         1         3
Four Square Ellerslie        Four Square         1         3
Four Square Everglade        Four Square         1         2

In [4]:
durations = pd.read_csv("output/TravelCosts.csv").set_index(['From', 'To'])
durations.head()

                                       Distance   Duration
From             To
New World Albany New World Albany       0.00000   0.000000
                 New World Birkenhead  15.70707  23.833833
                 New World Botany      35.83163  49.946667
                 New World Browns Bay   5.00226  10.337833
                 New World Devonport   17.81659  29.654833

In [5]:
dropouts=[0,0.25,0.5,0.75]
warehouse_weights=[0,0.2,0.4,0.6,0.8,1]

In [6]:
saturday_routes = aggregate_routes(
    regions, 
    demands, 
    durations, 
    weekday=False, 
    dropouts=dropouts, 
    warehouse_weights=warehouse_weights
)
print(len(saturday_routes))
print(saturday_routes.head())

2406
                                               Route      Time  Demand  \
0  [Warehouse, Pak 'n Save Manukau, New World Pap...   83.0718      13
1  [Warehouse, New World Papatoetoe, Pak 'n Save ...  116.9478      14
2  [Warehouse, New World Papatoetoe, Pak 'n Save ...  150.2548      16
3  [Warehouse, Pak 'n Save Mangere, New World Pap...  119.1122      16
4  [Warehouse, Four Square Botany Junction, Four ...  127.9674       8

       Cost  MainfreightCost
0  207.6795             3000
1  292.3695             3000
2  375.6370             3000
3  297.7805             3000
4  319.9185             3000

In [7]:
weekday_routes = aggregate_routes(
    regions, 
    demands, 
    durations, 
    dropouts=dropouts, 
    warehouse_weights=warehouse_weights
)
print(len(weekday_routes))
print(weekday_routes.head())

651
                                               Route        Time  Demand  \
0  [Warehouse, Pak 'n Save Ormiston, Four Square ...  109.014867      11
1  [Warehouse, New World Mt Roskill, Pak 'n Save ...   93.744833      16
2  [Warehouse, New World Papakura, New World Sout...  141.878000      15
3  [Warehouse, New World Mt Roskill, New World Pa...   97.481433      15
4  [Warehouse, New World Southmall, Four Square E...  101.294800      16

         Cost  MainfreightCost
0  272.537167             3000
1  234.362083             3000
2  354.695000             3000
3  243.703583             3000
4  253.237000             3000

In [8]:
# saturday_routes.to_csv("output/SaturdayRoutes.csv", index=False)
# weekday_routes.to_csv("output/WeekdayRoutes.csv", index=False)