In [24]:
import pandas as pd
import random

from route_generation import *

In [25]:
regions = read_regions("Regions.csv")

In [26]:
demands = pd.read_csv("../demand-estimation/output/DemandEstimates.csv")
demands.head()

                   Supermarket         Type  Saturday  Weekdays
0         Four Square Alberton  Four Square         1         3
1  Four Square Botany Junction  Four Square         0         2
2       Four Square Cockle Bay  Four Square         1         3
3        Four Square Ellerslie  Four Square         1         3
4        Four Square Everglade  Four Square         1         2

In [27]:
durations = pd.read_csv("output/TravelCosts.csv")
durations.head()

               From                    To  Distance   Duration
0  New World Albany      New World Albany   0.00000   0.000000
1  New World Albany  New World Birkenhead  15.70707  23.833833
2  New World Albany      New World Botany  35.83163  49.946667
3  New World Albany  New World Browns Bay   5.00226  10.337833
4  New World Albany   New World Devonport  17.81659  29.654833

In [36]:
dropouts=[0,0.2,0.4,0.6,0.8]

In [37]:
saturday_routes = aggregate_routes(regions, demands, durations, weekday=False, dropouts=dropouts)
print(len(saturday_routes))

714

In [38]:
weekday_routes = aggregate_routes(regions, demands, durations, dropouts=dropouts)
print(len(weekday_routes))

270

In [39]:
def route_printing(routes):
    for route in routes:
        print(f"Route: {' > '.join(route[0])}\nCost: {route[1]}\n")

print("Sample of Saturday Routes")
print("-------------------------")
route_printing(random.sample(saturday_routes, 4))

print("Sample of Weekday Routes")
print("------------------------")
route_printing(random.sample(weekday_routes, 4))

Sample of Saturday Routes
-------------------------
Route: Warehouse > Pak 'n Save Sylvia Park > New World Stonefields > Four Square Ellerslie > Pak 'n Save Glen Innes > Four Square St Heliers > Four Square Pakuranga Heights > Four Square Botany Junction > Four Square Cockle Bay > Warehouse
Cost: 458.76666666666665

Route: Warehouse > Pak 'n Save Westgate > Four Square Hobsonville > Pak 'n Save Lincoln Road > Four Square Fair Price Henderson > Four Square Glen Eden > New World New Lynn > Warehouse
Cost: 276.27250000000015

Route: Warehouse > New World Victoria Park > New World Metro Queen St > New World Remuera > Pak 'n Save Sylvia Park > Four Square Ellerslie > Warehouse
Cost: 224.41333333333313

Route: Warehouse > New World Remuera > Four Square Ellerslie > Pak 'n Save Royal Oak > New World Mt Roskill > Warehouse
Cost: 170.30583333333342

Sample of Weekday Routes
------------------------
Route: Warehouse > New World New Lynn > Pak 'n Save Lincoln Road > Warehouse
Cost: 151.40041666666676

Route: Warehouse > New World Metro Queen St > Pak 'n Save Mt Albert > Warehouse
Cost: 123.17749999999992

Route: Warehouse > Four Square Alberton > Four Square Ellerslie > Pak 'n Save Royal Oak > Four Square Pakuranga Heights > Warehouse
Cost: 251.11833333333337

Route: Warehouse > Four Square Botany Junction > Pak 'n Save Manukau > Warehouse
Cost: 173.83166666666682

In [40]:
saturday_routes_df = convert_routes_to_dataframe(saturday_routes)
weekday_routes_df = convert_routes_to_dataframe(weekday_routes)

In [41]:
saturday_routes_df.to_csv("output/SaturdayRoutes.csv", index=False)
weekday_routes_df.to_csv("output/WeekdayRoutes.csv", index=False)