In [1]:
import pandas as pd
import random

from route_generation import *

In [3]:
regions = read_regions("Regions.csv")

In [12]:
demands = pd.read_csv("../demand-estimation/output/DemandEstimates.csv")
demands.head()

                   Supermarket         Type  Saturday  Weekdays
0         Four Square Alberton  Four Square       1.0      3.00
1  Four Square Botany Junction  Four Square       0.0      2.25
2       Four Square Cockle Bay  Four Square       1.0      3.00
3        Four Square Ellerslie  Four Square       1.0      3.00
4        Four Square Everglade  Four Square       1.0      2.00

In [6]:
durations = pd.read_csv("output/TravelCosts.csv")
durations.head()

               From                    To  Distance   Duration
0  New World Albany      New World Albany   0.00000   0.000000
1  New World Albany  New World Birkenhead  15.70707  23.833833
2  New World Albany      New World Botany  35.83163  49.946667
3  New World Albany  New World Browns Bay   5.00226  10.337833
4  New World Albany   New World Devonport  17.81659  29.654833

In [7]:
dropouts=[0,0.3,0.6]

In [8]:
saturday_routes = aggregate_routes(regions, demands, durations, weekday=False, dropouts=dropouts)
print(len(saturday_routes))

355

In [13]:
weekday_routes = aggregate_routes(regions, demands, durations, dropouts=dropouts)
print(len(weekday_routes))

163

In [14]:
def route_printing(routes):
    for route in routes:
        print(f"Route: {' > '.join(route[0])}\nCost: {route[1]}\n")

print("Sample of Saturday Routes")
print("-------------------------")
route_printing(random.sample(saturday_routes, 4))

print("Sample of Weekday Routes")
print("------------------------")
route_printing(random.sample(weekday_routes, 4))

Sample of Saturday Routes
-------------------------
Route: Warehouse > New World Green Bay > Four Square Glen Eden > New World New Lynn > Pak 'n Save Mt Albert > Warehouse
Cost: 160.02750000000015

Route: Warehouse > New World Howick > Four Square Cockle Bay > Pak 'n Save Botany > Warehouse
Cost: 254.17750000000012

Route: Warehouse > Four Square Pakuranga Heights > New World Howick > Warehouse
Cost: 216.92333333333323

Route: Warehouse > Pak 'n Save Ormiston > Four Square Botany Junction > New World Ormiston > Pak 'n Save Botany > Warehouse
Cost: 259.3333333333333

Sample of Weekday Routes
------------------------
Route: Warehouse > Four Square Botany Junction > Four Square Everglade > Warehouse
Cost: 175.31500000000017

Route: Warehouse > Four Square St Heliers > New World Howick > Four Square Cockle Bay > Four Square Pakuranga Heights > Four Square Botany Junction > Warehouse
Cost: 351.58500000000015

Route: Warehouse > Pak 'n Save Lincoln Road > Four Square Fair Price Henderson > Four Square Glen Eden > Warehouse
Cost: 175.40125

Route: Warehouse > Pak 'n Save Sylvia Park > Four Square Ellerslie > Four Square Pakuranga Heights > Warehouse
Cost: 213.63750000000007

In [15]:
saturday_routes = convert_routes_to_dataframe(saturday_routes)
weekday_routes = convert_routes_to_dataframe(weekday_routes)

In [16]:
saturday_routes.to_csv("output/SaturdayRoutes.csv", index=False)
weekday_routes.to_csv("output/WeekdayRoutes.csv", index=False)