In [12]:
import pandas as pd
import random

from route_generation import *

In [13]:
regions = read_regions("Regions.csv")

In [14]:
demands = pd.read_csv("../demand-estimation/output/DemandEstimates.csv")
demands = demands.set_index('Supermarket')
demands.head()

                                    Type  Saturday  Weekdays
Supermarket
Four Square Alberton         Four Square         1         3
Four Square Botany Junction  Four Square         0         2
Four Square Cockle Bay       Four Square         1         3
Four Square Ellerslie        Four Square         1         3
Four Square Everglade        Four Square         1         2

In [15]:
durations = pd.read_csv("output/TravelCosts.csv")
durations = durations.set_index(['From', 'To'])
durations.head()

                                       Distance   Duration
From             To
New World Albany New World Albany       0.00000   0.000000
                 New World Birkenhead  15.70707  23.833833
                 New World Botany      35.83163  49.946667
                 New World Browns Bay   5.00226  10.337833
                 New World Devonport   17.81659  29.654833

In [18]:
dropouts=[0,0.1,0.2,0.3,0.4,0.5]
warehouse_weights=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

In [19]:
saturday_routes = aggregate_routes(
    regions, 
    demands, 
    durations, 
    weekday=False, 
    dropouts=dropouts, 
    warehouse_weights=warehouse_weights
)
print(len(saturday_routes))

2472

In [20]:
weekday_routes = aggregate_routes(
    regions, 
    demands, 
    durations, 
    dropouts=dropouts, 
    warehouse_weights=warehouse_weights
)
print(len(weekday_routes))

636

In [21]:
def route_printing(routes):
    for route in routes:
        print(f"Route: {' > '.join(route[0])}\nCost: {route[1]}\n")

print("Sample of Saturday Routes")
print("-------------------------")
route_printing(random.sample(saturday_routes, 4))

print("Sample of Weekday Routes")
print("------------------------")
route_printing(random.sample(weekday_routes, 4))

Sample of Saturday Routes
-------------------------
Route: Warehouse > Pak 'n Save Botany > Pak 'n Save Ormiston > Warehouse
Cost: 220.89166666666677

Route: Warehouse > New World Eastridge > Four Square St Heliers > New World Stonefields > Four Square Ellerslie > Pak 'n Save Royal Oak > Four Square Alberton > Warehouse
Cost: 289.16124999999994

Route: Warehouse > Four Square Everglade > Four Square Botany Junction > Pak 'n Save Manukau > Pak 'n Save Mangere > Warehouse
Cost: 223.1349999999999

Route: Warehouse > Four Square Fair Price Henderson > Four Square Glen Eden > New World Green Bay > New World New Lynn > Pak 'n Save Mt Albert > Warehouse
Cost: 226.48083333333338

Sample of Weekday Routes
------------------------
Route: Warehouse > New World Green Bay > Four Square Glen Eden > New World Victoria Park > Warehouse
Cost: 201.44000000000025

Route: Warehouse > Four Square Alberton > New World Green Bay > Warehouse
Cost: 120.96458333333317

Route: Warehouse > Pak 'n Save Henderson > Four Square Fair Price Henderson > Four Square Hobsonville > Warehouse
Cost: 205.89416666666676

Route: Warehouse > New World Mt Roskill > New World Ormiston > Four Square Botany Junction > Warehouse
Cost: 201.41625000000002

In [22]:
saturday_routes_df = convert_routes_to_dataframe(saturday_routes)
weekday_routes_df = convert_routes_to_dataframe(weekday_routes)

In [23]:
saturday_routes_df.to_csv("output/SaturdayRoutes.csv", index=False)
weekday_routes_df.to_csv("output/WeekdayRoutes.csv", index=False)