In [7]:
import pandas as pd
import random

from route_generation import *

In [8]:
regions = read_regions("Regions.csv")

In [9]:
demands = pd \
    .read_csv("../demand-estimation/output/DemandEstimates.csv") \
    .set_index("Supermarket")
demands.head()

                                    Type  Saturday  Weekdays
Supermarket
Four Square Alberton         Four Square         1         3
Four Square Botany Junction  Four Square         0         2
Four Square Cockle Bay       Four Square         1         3
Four Square Ellerslie        Four Square         1         3
Four Square Everglade        Four Square         1         2

In [10]:
durations = pd \
    .read_csv("output/TravelCosts.csv") \
    .set_index(['From', 'To'])
durations.head()

                                       Distance   Duration
From             To
New World Albany New World Albany       0.00000   0.000000
                 New World Birkenhead  15.70707  23.833833
                 New World Botany      35.83163  49.946667
                 New World Browns Bay   5.00226  10.337833
                 New World Devonport   17.81659  29.654833

In [11]:
dropouts=[0,0.25,0.5,0.75]
warehouse_weights=[0,0.2,0.4,0.6,0.8,1]

In [12]:
saturday_routes = aggregate_routes(
    regions, 
    demands, 
    durations, 
    weekday=False, 
    dropouts=dropouts, 
    warehouse_weights=warehouse_weights
)
print(len(saturday_routes))

2397

In [13]:
weekday_routes = aggregate_routes(
    regions, 
    demands, 
    durations, 
    dropouts=dropouts, 
    warehouse_weights=warehouse_weights
)
print(len(weekday_routes))

628

In [14]:
def route_printing(routes, indices):
    for i in indices:
        print(f"Route: {' > '.join(routes.Route[i])}\nCost: {routes.Cost[i]}\n")

print("Sample of Saturday Routes")
print("-------------------------")
route_printing(saturday_routes, random.sample(sorted(saturday_routes.index), 4))

print("Sample of Weekday Routes")
print("------------------------")
route_printing(weekday_routes, random.sample(sorted(weekday_routes.index), 4))

Sample of Saturday Routes
-------------------------
Route: Warehouse > New World Metro Shore City > New World Milford > Pak 'n Save Wairau Road > New World Albany > New World Browns Bay > Four Square Torbay > Warehouse
Cost: 411.3634999999998

Route: Warehouse > Four Square Hobsonville > Pak 'n Save Lincoln Road > Pak 'n Save Mt Albert > Warehouse
Cost: 229.80599999999993

Route: Warehouse > Pak 'n Save Mt Albert > New World Green Bay > Four Square Glen Eden > Four Square Fair Price Henderson > Pak 'n Save Lincoln Road > Warehouse
Cost: 252.0459999999999

Route: Warehouse > Pak 'n Save Westgate > Four Square Hobsonville > Pak 'n Save Lincoln Road > Pak 'n Save Mt Albert > Warehouse
Cost: 252.3195

Sample of Weekday Routes
------------------------
Route: Warehouse > New World Metro Shore City > New World Birkenhead > Warehouse
Cost: 279.74725

Route: Warehouse > Four Square Glen Eden > Four Square Ellerslie > Four Square St Heliers > Pak 'n Save Royal Oak > Warehouse
Cost: 390.0513333333335

Route: Warehouse > Four Square St Heliers > New World Eastridge > Pak 'n Save Sylvia Park > Warehouse
Cost: 336.96808333333314

Route: Warehouse > Four Square Cockle Bay > New World Howick > New World Ormiston > Warehouse
Cost: 368.01075

In [15]:
# saturday_routes.to_csv("output/SaturdayRoutes.csv", index=False)
# weekday_routes.to_csv("output/WeekdayRoutes.csv", index=False)