In [1]:
import pandas as pd
from route_generation import *

In [2]:
regions = read_regions("Test.csv")

In [3]:
Demands = pd.read_table('../demand-estimation/output/store_demand.txt', delimiter = ',')

Demands.head()

         Brand         Location  Weekdays  Saturday
0  Four Square         Alberton         3         1
1  Four Square  Botany Junction         2         0
2  Four Square       Cockle Bay         2         1
3  Four Square        Ellerslie         2         1
4  Four Square        Everglade         2         1

In [4]:
Demands = Demands.assign(Supermarket = Demands.Brand + " " + Demands.Location)
Demands.head()

,Brand,Location,Weekdays,Saturday,Supermarket
0,Four Square,Alberton,3,1,Four Square Alberton
1,Four Square,Botany Junction,2,0,Four Square Botany Junction
2,Four Square,Cockle Bay,2,1,Four Square Cockle Bay
3,Four Square,Ellerslie,2,1,Four Square Ellerslie
4,Four Square,Everglade,2,1,Four Square Everglade

In [5]:
Durations = pd.read_csv("output/TravelCosts.csv")
Durations.head()

               From                    To  Distance   Duration
0  New World Albany      New World Albany   0.00000   0.000000
1  New World Albany  New World Birkenhead  15.70707  23.833833
2  New World Albany      New World Botany  35.83163  49.946667
3  New World Albany  New World Browns Bay   5.00226  10.337833
4  New World Albany   New World Devonport  17.81659  29.654833

In [6]:
dropouts=[0,0.3,0.6]

In [7]:
saturday_test = aggregate_routes(regions, Demands, Durations, weekday=False, dropouts=dropouts)
print(len(saturday_test))

7

In [8]:
weekday_test = aggregate_routes(regions, Demands, Durations, dropouts=dropouts)
print(len(weekday_test))

6

In [9]:
import random

def route_printing(routes):
    for route in routes:
        print(f"Route: {' > '.join(route[0])}\nCost: {route[1]}\n")

print("Sample of Saturday Routes")
print("-------------------------")
route_printing(random.sample(saturday_test, 4))

print("Sample of Weekday Routes")
print("------------------------")
route_printing(random.sample(weekday_test, 4))

Sample of Saturday Routes
-------------------------
Route: Warehouse > New World New Lynn > Warehouse
Cost: 73.5945833333335

Route: Warehouse > New World New Lynn > Four Square Glen Eden > Warehouse
Cost: 125.29041666666669

Route: Warehouse > Pak 'n Save Henderson > Warehouse
Cost: 120.41624999999999

Route: Warehouse > New World New Lynn > Pak 'n Save Henderson > Warehouse
Cost: 148.8825

Sample of Weekday Routes
------------------------
Route: Warehouse > Pak 'n Save Henderson > Warehouse
Cost: 120.41624999999999

Route: Warehouse > New World New Lynn > Four Square Glen Eden > Warehouse
Cost: 125.29041666666669

Route: Warehouse > New World New Lynn > Four Square Glen Eden > Pak 'n Save Henderson > Warehouse
Cost: 168.92374999999993

Route: Warehouse > Pak 'n Save Henderson > Four Square Glen Eden > Warehouse
Cost: 153.43083333333325

In [10]:
saturday_test = convert_routes_to_dataframe(saturday_test)
weekday_test = convert_routes_to_dataframe(weekday_test)

In [11]:
saturday_test.to_csv("output/SaturdayTest.csv", index=False)
weekday_test.to_csv("output/WeekdayTest.csv", index=False)