In [20]:
import pandas as pd
from route_generation import *

In [21]:
regions = read_regions("Test.csv")

In [22]:
Demands = pd.read_csv('../demand-estimation/output/DemandEstimates.csv').set_index("Supermarket")

Demands.head()

                                    Type  Saturday  Weekdays
Supermarket
Four Square Alberton         Four Square         1         3
Four Square Botany Junction  Four Square         0         2
Four Square Cockle Bay       Four Square         1         3
Four Square Ellerslie        Four Square         1         3
Four Square Everglade        Four Square         1         2

In [23]:
Durations = pd.read_csv("output/TravelCosts.csv").set_index(["From", "To"])
Durations.head()

                                       Distance   Duration
From             To
New World Albany New World Albany       0.00000   0.000000
                 New World Birkenhead  15.70707  23.833833
                 New World Botany      35.83163  49.946667
                 New World Browns Bay   5.00226  10.337833
                 New World Devonport   17.81659  29.654833

In [24]:
saturday_test = aggregate_routes(regions, Demands, Durations, weekday=False)
print(saturday_test)

                                               Route       Time  Demand  \
0         [Warehouse, New World New Lynn, Warehouse]  29.437833       3
1      [Warehouse, Four Square Glen Eden, Warehouse]  43.534833       1
2  [Warehouse, New World New Lynn, Four Square Gl...  58.539400       4
3      [Warehouse, Pak 'n Save Henderson, Warehouse]  48.166500       6
4  [Warehouse, New World New Lynn, Pak 'n Save He...  69.863600       9
5  [Warehouse, New World New Lynn, Four Square Gl...  78.683400      10

         Cost  MainfreightCost
0   73.594583             3000
1  108.837083             3000
2  146.348500             3000
3  120.416250             3000
4  174.659000             3000
5  196.708500             3000

In [25]:
weekday_test = aggregate_routes(regions, Demands, Durations)
print(weekday_test)

                                               Route       Time  Demand  \
0         [Warehouse, New World New Lynn, Warehouse]  29.437833       7
1      [Warehouse, Four Square Glen Eden, Warehouse]  43.534833       2
2  [Warehouse, New World New Lynn, Four Square Gl...  66.962633       9
3      [Warehouse, Pak 'n Save Henderson, Warehouse]  48.166500       8
4  [Warehouse, New World New Lynn, Pak 'n Save He...  80.174200      15

         Cost  MainfreightCost
0   73.594583             3000
1  108.837083             3000
2  167.406583             3000
3  120.416250             3000
4  200.435500             3000

In [26]:
saturday_test.to_csv("output/SaturdayTest.csv", index=False)
weekday_test.to_csv("output/WeekdayTest.csv", index=False)