In [1]:
from lp_formulation import *

In [2]:
nodes = pd.read_csv("../foodstuffs-data/FoodstuffsDemands.csv").Supermarket.values.tolist()
weekdayRouteCosts = read_routes_costs("../route-generation/output/WeekdayRoutes.csv")
saturdayRouteCosts = read_routes_costs("../route-generation/output/SaturdayRoutes.csv")

In [3]:
selectedRoutesWeekday, objectiveWeekday = route_selection_lp(
    weekdayRouteCosts,
    nodes,
    "output/WeekdayRouteLp.lp"
)

weekday_df = pd.DataFrame(weekdayRouteCosts, index=selectedRoutesWeekday)
weekday_df.head()

ENGSCI 263 OR Project Group 10

Status: Optimal
Route_r109 = 1.0
Route_r122 = 1.0
Route_r124 = 1.0
Route_r14 = 1.0
Route_r156 = 1.0
Route_r278 = 1.0
Route_r36 = 1.0
Route_r382 = 1.0
Route_r418 = 1.0
Route_r419 = 1.0
Route_r426 = 1.0
Route_r429 = 1.0
Route_r44 = 1.0
Route_r486 = 1.0
Route_r505 = 1.0
Route_r528 = 1.0
Route_r563 = 1.0
Route_r606 = 1.0
Route_r70 = 1.0
Route_r78 = 1.0
Total cost for VRP =  6822.55425

,Route,Demand,TruckType,RouteCost
r109,"['Warehouse', 'Four Square Glen Eden', ""Pak 'n...",16,OwnedTruck,317.127667
r122,"['Warehouse', ""Pak 'n Save Lincoln Road"", 'War...",9,OwnedTruck,104.192500
r124,"['Warehouse', ""Pak 'n Save Westgate"", 'Warehou...",9,OwnedTruck,118.685417
r14,"['Warehouse', 'Four Square Everglade', 'New Wo...",15,OwnedTruck,271.918833
r156,"['Warehouse', 'Four Square Alberton', 'Four Sq...",16,OwnedTruck,387.919750

In [4]:
selectedRoutesSaturday, objectiveSaturday = route_selection_lp(
    saturdayRouteCosts,
    nodes,
    "output/SaturdayRouteLp.lp"
)

saturday_df = pd.DataFrame(saturdayRouteCosts, index=selectedRoutesSaturday)
saturday_df.head()

ENGSCI 263 OR Project Group 10

Status: Optimal
Route_r105 = 1.0
Route_r133 = 1.0
Route_r1563 = 1.0
Route_r1568 = 1.0
Route_r1915 = 1.0
Route_r2128 = 1.0
Route_r29 = 1.0
Route_r384 = 1.0
Route_r440 = 1.0
Route_r527 = 1.0
Total cost for VRP =  3890.0035

,Route,Demand,TruckType,RouteCost
r105,"['Warehouse', 'New World Papakura', ""Pak 'n Sa...",16,OwnedTruck,294.5460
r133,"['Warehouse', 'New World Mt Roskill', 'New Wor...",11,OwnedTruck,192.6705
r1563,"['Warehouse', ""Pak 'n Save Wairau Road"", 'New ...",14,OwnedTruck,332.3620
r1568,"['Warehouse', 'New World Birkenhead', 'Four Sq...",15,OwnedTruck,432.4040
r1915,"['Warehouse', 'Four Square Alberton', 'New Wor...",14,OwnedTruck,260.3805

In [5]:
weekday_df.to_csv("output/SelectedRoutesWeekday.csv", index=False)
saturday_df.to_csv("output/SelectedRoutesSaturday.csv", index=False)