In [1]:
from lp_formulation import *

In [2]:
nodes = pd.read_csv("../foodstuffs-data/FoodstuffsDemands.csv").Supermarket.values.tolist()
weekdayRouteCosts = read_routes_costs("../route-generation/output/WeekdayRoutes.csv")
saturdayRouteCosts = read_routes_costs("../route-generation/output/SaturdayRoutes.csv")

In [3]:
selectedRoutesWeekday, objectiveWeekday = route_selection_lp(weekdayRouteCosts, nodes, "output/RouteLp.lp")

weekday_df = pd.DataFrame(weekdayRouteCosts, index=selectedRoutesWeekday)
weekday_df.head()

ENGSCI 263 OR Project Group 10

Status: Optimal
Route_r109 = 1.0
Route_r122 = 1.0
Route_r124 = 1.0
Route_r14 = 1.0
Route_r156 = 1.0
Route_r278 = 1.0
Route_r36 = 1.0
Route_r382 = 1.0
Route_r418 = 1.0
Route_r419 = 1.0
Route_r426 = 1.0
Route_r429 = 1.0
Route_r44 = 1.0
Route_r486 = 1.0
Route_r505 = 1.0
Route_r528 = 1.0
Route_r563 = 1.0
Route_r606 = 1.0
Route_r70 = 1.0
Route_r78 = 1.0
Total cost for VRP =  6822.55425

,RouteNum,Route,TruckType,RouteCost,Demand
r109,r109,"['Warehouse', 'Four Square Glen Eden', ""Pak 'n...",OwnedTruck,317.127667,16
r122,r122,"['Warehouse', ""Pak 'n Save Lincoln Road"", 'War...",OwnedTruck,104.192500,9
r124,r124,"['Warehouse', ""Pak 'n Save Westgate"", 'Warehou...",OwnedTruck,118.685417,9
r14,r14,"['Warehouse', 'Four Square Everglade', 'New Wo...",OwnedTruck,271.918833,15
r156,r156,"['Warehouse', 'Four Square Alberton', 'Four Sq...",OwnedTruck,387.919750,16

In [4]:
selectedRoutesSaturday, objectiveSaturday = route_selection_lp(saturdayRouteCosts, nodes, "output/RouteLp.lp")

saturday_df = pd.DataFrame(saturdayRouteCosts, index=selectedRoutesSaturday)
saturday_df.head()

ENGSCI 263 OR Project Group 10

Status: Optimal
Route_r105 = 1.0
Route_r133 = 1.0
Route_r1563 = 1.0
Route_r1568 = 1.0
Route_r1915 = 1.0
Route_r2128 = 1.0
Route_r29 = 1.0
Route_r384 = 1.0
Route_r440 = 1.0
Route_r527 = 1.0
Total cost for VRP =  3890.0035

,RouteNum,Route,TruckType,RouteCost,Demand
r105,r105,"['Warehouse', 'New World Papakura', ""Pak 'n Sa...",OwnedTruck,294.5460,16
r133,r133,"['Warehouse', 'New World Mt Roskill', 'New Wor...",OwnedTruck,192.6705,11
r1563,r1563,"['Warehouse', ""Pak 'n Save Wairau Road"", 'New ...",OwnedTruck,332.3620,14
r1568,r1568,"['Warehouse', 'New World Birkenhead', 'Four Sq...",OwnedTruck,432.4040,15
r1915,r1915,"['Warehouse', 'Four Square Alberton', 'New Wor...",OwnedTruck,260.3805,14

In [5]:
weekday_df.drop(columns='RouteNum').to_csv("output/SelectedRoutesWeekday.csv", index=False)
saturday_df.drop(columns='RouteNum').to_csv("output/SelectedRoutesSaturday.csv", index=False)